:host {

  .site-header {
    background-color: var(--background-dark-brown);
    color: var(--white);
    font-family: "Macondo Swash Caps", cursive;
    padding: 1.5rem 0;
    font-size: clamp(1.5rem, 4vw, 3rem);

    h1 {
      margin: 0;
      text-align: center;
      text-wrap: balance;
    }
  }
}
